<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add project</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png">
    <style> @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
            body{font-family: 'Poppins', sans-serif;}
    </style>
</head>
<body style="background-color:#ecdeb9;">
<nav class="navbar navbar-expand-lg" style="background-color: #699ecd;">
    <div class="container-fluid">
          <span class="navbar-brand">
            <img src="https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png"
                 alt="Logo" width="70" height="70">
          </span>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 h5">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/lecture-home}">Lecturer page</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Add project </h1>
            <div class = "card-body">
                <form th:action="@{/lecturer-home/lecture/{id}(id=${id})}" th:object = "${project}" method="POST">
                    <div class ="form-group">
                        <label> Lecture name </label>
                        <input
                                type = "text"
                                name = "LectureName"
                                th:field = "*{projectName}"
                                class = "form-control"
                                placeholder="Project name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Lecture password </label>
                        <textarea
                                type = "text"
                                name = "lastName"
                                th:field = "*{description}"
                                class = "form-control"
                                placeholder="Description"
                        ></textarea>
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Create
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>