<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Lecturer page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Lecturer Home Page</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/lecturer-home}">Lecturer page</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <span sec:authentication="principal.username"> User</span>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/lecturer-home/new-lecture}" class = "btn btn-primary btn-sm mb-3"> Create lecture</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Lecture Name</th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "lecture: ${lectures}">
            <td th:text = "${lecture.lectureName}"></td>
            <td>
                <a th:href = "@{/lecturer-home/lecture/{id}(id=${lecture.id})}"
                   class = "btn btn-primary">Enter</a>

                <a th:href = "@{/lecturer-home/{id}(id=${lecture.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>